$family-sans-serif: 'Overpass', sans-serif;
$primary: #10c9c3;
$gray: #f5f5f5;
@import '~react-bulma-components/src/index';
@import '~bulma/bulma';

html {
    scroll-behavior: smooth;
}
@import './components/overlay';
@import './components/services';
@import './components/work';
@import './/components/statsbox';
@import './components/home';
@import './components//navbar';
